<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
        <p>My name is Dongmin Wu, a master student of AALTO University, looking for a Thesis worker position in anywhere.</p>
        <p>I have six plus years programming experience in C language, covered from microprocessor to Linux system programming. My secondary language is JAVA, python and other script languages.</p>
        <p>During my bachelor degree, I dedicated into microprocessor programming. I have some project like web-based smart socket, QR code box, and a hand-made drone.</p>
        <p>From 2014 to 2016, I got involved in two big companies: Cisco systems and Technicolor,  I am one of the main developers for the hardware abstract layer of Set-top boxes. </p>
        <p>In that period, I also earned Cisco CCIE certificate of Routing and Switching.</p>
        <p>After 2016, I started to learn ICT-Innovation embedded systems track in TU Berlin. At the meantime, I worked as a backend JAVA developer in an open source start-up and got familiar with RESTful API developing.</p>
        <p>Nowadays, I am focusing on applying data science technology in IoT area. I have learned basic machine learning techniques in last semester at TU Berlin, Germany. I and I am studying kernel method in machine learning and deep learning technologies now in Aalto University. I have a great passion for my IoT dreams and wish to publish some paper at the related area in addition to my master thesis.</p>
        
</div>